
.DS_Store

.idea/misc.xml

.idea/

src/PythonCloudWorker/__pycache__/

src/DotNetCloudWorker/CamundaCloudWorker/obj/

src/DotNetCloudWorker/CamundaCloudWorker/bin/

src/DotNetCloudWorker/.vs/DotNetCloudWorker/xs/

src/DotNetCloudWorker/.vs/CamundaCloudWorker/xs/

src/NodeJSWorker/node_modules

src/NodeJSWorker/main.js

.vscode/launch.json

.vscode/tasks.json

.vscode/

.env