# Copy this file to .env
# And replace the configuration with your API client credentials
# Note that the lines do NOT start with `export`

ZEEBE_ADDRESS='f321dc92-d2cc-4d9b-803e-e30f4d0ecfec.bru-2.zeebe.camunda.io:443'
ZEEBE_CLIENT_ID='jMKNyrYqruhHqL5y.G7U9DOKUD6DGQYJ'
ZEEBE_CLIENT_SECRET='oqEDaeKTwM~6U3iajY5gbRDTYqHVc.CIO5gsdU7wBBu~7t9T2m6Q4Alhu9iG6N9F'
ZEEBE_AUTHORIZATION_SERVER_URL='https://login.cloud.camunda.io/oauth/token'